header {
  background-color: #f8f9fa;
}

main {
  padding: 1rem;
  max-width: 600px;
  margin: 0 auto;
}

footer {
  padding: 1rem;
  font-size: 0.9rem;
  color: #666;
}

main h1 {
  margin-bottom: 1rem;
}

.container {
    text-align: center;
}